<div class="container py-4">
    <div class="contact__wrapper shadow-lg mt-n9">
        <div class="row no-gutters">
            <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                <h3 class="color--white mb-5">Ponerse en contacto</h3>

                <ul class="contact-info__list list-style--none position-relative z-index-101">
                    <li class="mb-4 pl-4">
                        <span class="position-absolute"><i class="fas fa-envelope"></i></span>
                        famigosdelmundo&#64;gmail.com
                    </li>
                    <li class="mb-4 pl-4">
                        <span class="position-absolute"><i class="fas fa-phone"></i></span> +57 (324)-(772)-(4513)
                    </li>
                    <li class="mb-4 pl-4">
                        <span class="position-absolute"><i class="fas fa-map-marker-alt"></i></span> Fundación amigos
                        del mundo.
                        <br> Valledupar - Cesar.
                        <br> Colombia 2024.

                        <div class="mt-3">
                            <a href="https://www.google.com/maps" target="_blank"
                                class="text-link link--right-icon text-white">Obtener dirección <i
                                    class="link__icon fa fa-directions"></i></a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                <form action="#" class="contact-form form-validate" novalidate="novalidate">
                    <div class="py-3">
                        <h3>Contactar</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="firstName">Nombre</label>
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                    placeholder="Wendy">
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="lastName">Apellido</label>
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                    placeholder="Sanchez">
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="email">Correo electrónico</label>
                                <input type="text" class="form-control" id="email" name="email"
                                    placeholder="wendy.sanchez@gmail.com">
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="phone">Teléfono</label>
                                <input type="tel" class="form-control" id="phone" name="phone"
                                    placeholder="(021)-454-545">
                            </div>
                        </div>

                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="message">¿Cómo podemos ayudarte?</label>
                                <textarea class="form-control" id="message" name="message" rows="4"
                                    placeholder="Hola, me gustaría......"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 mb-3">
                            <button type="submit" name="submit" class="btn btn-primary">Enviar</button>
                        </div>

                    </div>
                </form>
            </div>
            <!-- End Contact Form Wrapper -->

        </div>
    </div>