<div class="container mt-4 py-4">
  <div class="jumbotron" style="background-color: #0B992D;">
    <h2 class="text-light">{{ event.title }}</h2>
    <p class="lead text-light">(Fundación Amigos Del Mundo, 2024). </p>
  </div>
  <div class="book">
    <div class="left-page">
      <div class="content left-content">
        <!-- Contenido de la página izquierda -->
        {{ event.description }}
        <hr>
      </div>
    </div>
    <div class="right-page">
      <div class="content right-content text-center">
        <!-- Contenido de la página derecha -->
        <img [src]="'http://127.0.0.1:8000/' + event.image" class="card-img-top" alt="{{ event.title }}">
        <hr>
      </div>
    </div>
    <div class="spine"></div>
  </div>
</div>
